.list {
  background-color: #333;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.todoCheck {
  margin-right: 10px;
}

.deleteBtn {
  background-color: black;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
